
@font-face {
    font-family: 'Kenney Future Narrow';
    src: local('Kenney Future Narrow'), url("./assets/fonts/Kenney Future Narrow.ttf") format('truetype')
}

@font-face {
    font-family: 'Kenney Blocks';
    src: local('Kenney Blocks'), url("./assets/fonts/Kenney Blocks.ttf") format('truetype')
}

* {
    user-select: none;
}